<li>
    <article>
        <header class="column">
            <h1><a href='{{ .RelPermalink }}'>{{ .Title  }}</a></h1>
            <div class="subtitle">Posted <time datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time></div>
            <div class="authors">author(s):
              <ul>
                {{- range .Params.authors }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>
                    {{ end }}
                {{ end }}
              </ul>
            </div>
            <div class="tags">
                {{ partial "tags.html" .}}
            </div>
        </header>
        <div class="column summary">
            {{ .Page.Summary }}
            <div class="more"><a href='{{ .RelPermalink }}'>→</a></div>
        </div>
        
    </article>
</li>