{{ template "partials/header.html" . }}

<article>
    <header>
        <h1>{{.Title}}</h1>
        <div class="authors">author(s):
            <ul>
            {{- range .Params.authors }}
                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </header>

    {{ if .Params.overview }}
    Deze pagina maakt deel uit van een reeks.<br>
    <a href="{{ .Params.overview }}">&raquo; Naar het overzicht</a>
    {{ end }}
    
    <h2>Inhoudsopgave</h2>
    {{ .TableOfContents }}

    {{ .Content }}

    <footer>
        <div class="tags">
            {{ partial "tags.html" .}}
        </div>
    </footer>
</article>

{{ template "partials/footer.html" . }}
