{{ template "partials/header.html" . }}

<article>
<h1>{{.Title}}</h1>
<div class="authors">author(s):
    <ul>
    {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
            <li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>
        {{ end }}
    {{ end }}
    </ul>
</div>

<h2>Inhoudsopgave</h2>
{{ .TableOfContents }}

<div class="content">
{{ .Content }}
</div>

<div class="tags">
    {{ partial "tags.html" .}}
</div>
</article>

{{ template "partials/footer.html" . }}
