{{ template "partials/header.html" . }}

<h1>{{ .Title }}</h1>
<ul>
    {{ range .Data.Pages }}
    <li>
      <article>
        <header>
          <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          <div class="subtitle">Posted <time datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time></div>
          <div class="tags">
            {{ partial "tags.html" .}}
          </div>
        </header>
        <div class="summary">
          {{ .Page.Summary }}
          <div class="more"><a href='{{ .RelPermalink }}'>→</a></div>
        </div>
      </article>
    </li>
    {{ end }}
</ul>

{{ template "partials/footer.html" . }}
